PORT=4000
ENV=DEVELOPMENT
LOG_LEVEL=info
WEB_URL=http://localhost:3000
SERVER_URL=http://localhost:4000
SENDER_EMAIL=onboarding@resend.dev
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/december_dev?schema=public
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5434/december_test?schema=public
REDIS_URL=redis://localhost:6379
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=decemberadmin
S3_SECRET_KEY=minio@2004
S3_BUCKET=december-storage
S3_FORCE_PATH_STYLE=true
ACCESS_TOKEN_SECRET=supersecretcode
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=supersupersecretcode
REFRESH_TOKEN_EXPIRES_IN=7d
SECRETS_ENC_KEY=0000000000000000000000000000000000000000000000000000000000000000

AUTO_MODEL=deepseek/deepseek-v4-flash
FIRECRACKER_BINARY=./firecracker
FIRECRACKER_KERNEL_PATH=./vmlinux.bin
FIRECRACKER_ROOTFS_PATH=./ubuntu-rootfs.ext4
